POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

APP_PORT=5000

# Токен для доступа к WB API
# Токен предоставляется в рамках тестового задания
# Добавьте токен, который был предоставлен в задании
WB_API_TOKEN=

# Google Sheets credentials
# Создайте файл google-credentials.json в корне проекта с содержимым JSON ключа Service Account
# Инструкция по получению: https://developers.google.com/sheets/api/quickstart/nodejs
# 1. Перейдите в Google Cloud Console
# 2. Создайте Service Account и скачайте JSON ключ
# 3. Сохраните JSON ключ в файл google-credentials.json в корне проекта
# 4. Поделитесь Google-таблицей с email из поля client_email в JSON ключе

# Список ID Google-таблиц через запятую (опционально, можно также добавлять через БД)
# ID таблицы можно найти в URL: https://docs.google.com/spreadsheets/d/SPREADSHEET_ID/edit
# 
# Тестовая таблица для проверки работы приложения:
# https://docs.google.com/spreadsheets/d/1cKng5jo962kDAjp-WSifJdzCh_56HtHDQ4FWvqp-aEU/edit
# 
# Можно указать несколько таблиц через запятую: id1,id2,id3
GOOGLE_SHEETS_SPREADSHEET_IDS=1cKng5jo962kDAjp-WSifJdzCh_56HtHDQ4FWvqp-aEU